@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

body {
  background: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgba(0, 200, 100, 1);
}

p {
  font-size: 30px;
  font-family: 'Ariel';
}

img {
  width: 30%;
}